/* Начало сброса стилей */

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Конец сброса стилей */

/* Начало стилей для объектов */

html,
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  max-width: 100vw;
  color: #fff;
  position: relative;
}

body {
  background: linear-gradient(to right, #200b00, #250b00);
}

a {
  color: #fff;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  color: #fff;
}

/* Конец стилей для объектов */

/* Начало стилей для обертки сайта */

.wrapper {
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 0 15%;
}

/* Конец стилей для обертки сайта */

/* Начало стилей для шапки сайта */

.header {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.header-body {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 1px;
  background: linear-gradient(to right, #FF9100, #FF3C00);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.log-in {
  padding: 10px 45px;
  background: linear-gradient(to right, #FF9100, #FF3C00);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.order {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #FF9100, #FF3C00);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* Конец стилей для шапки сайта */

/* Начало стилей для домашней секции */

#home {
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-body {
  max-width: 45%;
}

.home-title {
  font-size: 3em;
  font-weight: bold;
}

.home-title span:nth-child(1) {
  display: block;
}

.home-title svg {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.home-text {
  color: #808080;
  font-size: 20px;
  margin-top: 20px;
}

.home-text span {
  color: #fff;
}

.home-img img {
  width: 630px;
  height: 760px;
}

/* Конец стилей для домашней секции */

/* Начало стилей для меню */

#menu {
  padding-top: 150px;
  position: relative;
}

.menu-title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}

.menu-nav {
  display: flex;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 0 5px #FF9100;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.menu-nav_item {
  width: calc(100% / 7);
  padding: 15px 0;
  font-size: 20px;
  text-align: center;
  color: #808080;
  cursor: pointer;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: color .1s, background .3s;
  -webkit-transition: color .1s, background .3s;
  -moz-transition: color .1s, background .3s;
  -ms-transition: color .1s, background .3s;
  -o-transition: color .1s, background .3s;
}

.menu-nav::before {
  content: '';
  width: calc(100% / 7);
  height: 100%;
  background: linear-gradient(to right, #FF9100, #FF3C00);
  position: absolute;
  left: var(--n-menu-indicator-left, calc((100% / 7) / 2));
  top: 0;
  z-index: -1;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transition: left .3s;
  -webkit-transition: left .3s;
  -moz-transition: left .3s;
  -ms-transition: left .3s;
  -o-transition: left .3s;
}

.menu-nav_item:hover,
.menu-nav_item.active {
  color: #fff;
}

.menu-list {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 2%;
  row-gap: 2%;
}

.menu-list.active {
  display: grid;
}

.menu-list_item {
  padding: 20px;
  box-shadow: 0 0 10px #FF9100;
  position: relative;
  cursor: pointer;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: all .15s ease;
  -webkit-transition: all .15s ease;
  -moz-transition: all .15s ease;
  -ms-transition: all .15s ease;
  -o-transition: all .15s ease;
  display: flex;
  flex-direction: column;
}

.menu-list_item:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.menu-list_item-img img {
  width: 100%;
}

.menu-list_item-title {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0;
}

.menu-list_item-text {
  color: #9f9f9f;
  font-size: 17px;
  margin-bottom: 35px;
}

.menu-list_item-price {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

/* Конец стилей для меню */

/* Начало стилей для подвала */

#footer-margin {
  width: 100%;
  padding-top: 200px;
}

#footer {
  width: 100%;
  padding: 30px 15%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #1a0700;
  box-shadow: 0 0 10px #FF9100;
}

.footer-body {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  color: #808080;
  font-size: 20px;
}

.footer-body_legal {
  display: flex;
  align-items: center;
  gap: 25px;
}

.footer-body_legal span:nth-child(1) {
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 1px;
  background: linear-gradient(to right, #FF9100, #FF3C00);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-body_legal span:nth-child(2) {
  margin-top: 8px;
  letter-spacing: 1px;
}

.footer-body_social {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-body_social a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #FF9100, #FF3C00);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.footer-body_social a svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}

/* Конец стилей для подвала */

/* Начало стилей для адаптивности */

@media (max-width: 1700px) {
  .wrapper {
    padding: 0 10%;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 0 3%;
  }

  .home-img img {
    width: 100%;
    height: auto;
  }
}

/* Конец стилей для адаптивности */